<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let formField of questionBases" class="form-group">
        <app-dynamic-form-input [input]="formField" [form]="form"></app-dynamic-form-input>
      </div>
  <section>
      <div class="form-group">
        <button mat-raised-button color="primary" [disabled]="form.invalid">Vote</button>
      </div>
   
</section>
     </form>

      

 
  
    <div *ngIf="payLoad" class="form-group">
      <strong>Here's the payload</strong><br>{{payLoad}}
    </div>
  </div>
